.header{
    height: 1000px;
    /* background-color: antiquewhite; */
    /* background-image: url('group-pic.jpg'); */
    /* background-image: url('../images/IMG20210820131432.jpg'); */
    background-image: url('../images/images/20220305003619_IMG_9079.JPG');
    background-size:  700px 500px;
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y;  */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-position: center; */
    background-position: right center;

}



body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    color: red;
    text-decoration: overline;
}

.second{
    /* display: none; */
    visibility: hidden;
}

.blog{
    margin: 20px;
    border: 5px solid red;
    box-shadow: 10px 5px 5px blue;
}

#sit{
    border: 2px solid red;
    /* display: block; */
    /* height: 20px; */
    margin: 30px;
    /* padding: 201px; */
    display: inline-block;
} 